body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 50%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

.form-control {
    width: calc(100% - 12px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 0 auto;
}
.btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.btn-group button {
    margin: 0 5px;
}

.btn-save,
.btn-cancel {
    width: 100px; /* Điều chỉnh độ rộng của cả hai nút */
    text-decoration: none; /* Xóa gạch chân cho liên kết */
}
button[type="submit"]:hover {
    background-color: #2980b9;
}